.card {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 152px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card a {
  color: #393E41;
  font-weight: bold;
  font-size: 24px ;
}
